.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: fixed;
  bottom: 0;
  background-color: white; /* Optional: Add background color */
  text-align: center; /* Optional: Center content */
  padding: 10px; /* Optional: Add padding */
  /* border: 2px solid black; */
  margin-left: 25%;
  height: 84%;
  width: 50%;
  box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.1), 
               4px 0px 10px rgba(0, 0, 0, 0.1), 
               0px -4px 10px rgba(0, 0, 0, 0.1); 
}

.kitchenLayoutContainer{
  height: 90%;
  width: 100%;
}

.kitchenHeader{
  font-size: 20px;
  font-weight: 500;
}

.knowMore{
  font-size: 16px;
}

.knowMore span{
  font-weight: 500;
  cursor: pointer;
  color: #eb595f;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.card {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
}

.card.selected {
  border: 2px solid red;
  background-color: #ffebee; 
}

.image {
  width: 200px;
  height: 160px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: -16px;
}

.name {
  font-size: 14px;
  margin-top: 8px;
  font-weight: 500;
}

.icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: gray;
}

.default-icon {
  color: white;
  stroke: gray;
  stroke-width: 1px;
}

.red-icon {
  color: red !important;
}

.buttonContainer{
  width: 97%;
  margin-left: -10px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px;
}

.nextBtn{
  margin-top: -10px;
  width: 25%;
  border-radius: 25px;
  color: white;
  background-color: #eb595f;
}